%h1 Slot machines

#big
  %h2 (name)
  .sm
  %div
    win: 
    %span.win 0
  %input.pull{type: "button", value: "Pull the plug!"}
  
#simple
  %h2 (name)
  .sm
  %div
    win: 
    %span.win 0
  %input.pull{type: "button", value: "Pull the plug!"}  